<footer class="bg-dark text-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>Kurumsal</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Hakkımızda</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Kariyer</a></li>
                    <li><a href="#" class="text-light text-decoration-none">İletişim</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5>Yardım</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Sıkça Sorulan Sorular</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Kargo Takip</a></li>
                    <li><a href="#" class="text-light text-decoration-none">İade Şartları</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5>Kategoriler</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Elektronik</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Giyim</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Kitap</a></li>
                </ul>
            </div>
            
            <div class="col-md-3 mb-4">
                <h5>Bizi Takip Edin</h5>
                <div class="d-flex gap-3 fs-4">
                    <a href="#" class="text-light"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-light"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="text-light"><i class="bi bi-instagram"></i></a>
                </div>
                
                <h5 class="mt-4">E-Bülten</h5>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="E-posta adresiniz">
                    <button class="btn btn-primary">Abone Ol</button>
                </div>
            </div>
        </div>
        
        <hr class="my-4">
        
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2024 E-Ticaret. Tüm hakları saklıdır.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <img src="payment-methods.png" alt="Ödeme Yöntemleri" height="30">
            </div>
        </div>
    </div>
</footer> 