<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="nav-item">
            <NavLink class="nav-link" href="admin/orders">
                <i class="bi bi-list-check"></i> Sipariş Yönetimi
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="admin/users">
                <i class="bi bi-people"></i> Kullanıcı Yönetimi
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="admin/settings">
                <i class="bi bi-gear"></i> Ayarlar
            </NavLink>
        </div>
    </Authorized>
</AuthorizeView> 